:root {
	--bs-cs-primary: var(--bs-blacky);
	--bs-cs-primary-hover: var(--bs-blacky-hover);
	--bs-cs-primary-subtle: var(--bs-blacky-subtle);
	--bs-cs-secondary: var(--bs-cream);
	--bs-cs-secondary-hover: var(--bs-cream-hover);
	--bs-cs-secondary-subtle: var(--bs-cream-subtle);
	--bs-body-bg: var(--bs-cs-primary);

	--red-subtle: #3c2424;
	--red-subtle-hover: #251d1d;
	--green-subtle: #293626;
	--green-subtle-hover: #242a23;
	--blue-subtle: rgba(90, 202, 230, 0.2);
}

[data-bs-theme="light"] {
	--bs-cs-primary: var(--bs-cream);
	--bs-cs-primary-hover: var(--bs-cream-hover);
	--bs-cs-primary-subtle: var(--bs-cream-subtle);
	--bs-cs-secondary: var(--bs-blacky);
	--bs-cs-secondary-hover: var(--bs-blacky-hover);
	--bs-cs-secondary-subtle: var(--bs-blacky-subtle);

	--red-subtle: #ffdcdc;
	--red-subtle-hover: #fde7e7;
	--green-subtle: #daedd9;
	--green-subtle-hover: #ebf5eb;
	--blue-subtle: rgba(89, 213, 244, 0.2);
	.password-checklist {
		filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
	}
	.toast {
		box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
	}
}

.primary-color {
	color: var(--bs-cs-primary);
}

.secondary-color {
	color: var(--bs-cs-secondary);
}

.primary-color-subtle {
	color: var(--bs-cs-primary-subtle);
}

.secondary-color-subtle {
	color: var(--bs-cs-secondary-subtle);
}

.primary-bg-color {
	background-color: var(--bs-cs-primary);
}

.secondary-bg-color {
	background-color: var(--bs-cs-secondary);
}

.primary-bg-color-subtle {
	background-color: var(--bs-cs-primary-subtle);
}

.secondary-bg-color-subtle {
	background-color: var(--bs-cs-secondary-subtle);
}

.cs-border {
	border: 1px solid var(--bs-cs-primary-subtle);
}

input {
	height: 48px;
	color: var(--bs-cs-secondary) !important;
	transition: box-shadow 1s ease;
}

input:valid {
	box-shadow: 0 0 10px rgb(84, 223, 103, 0.4)
}

input:disabled{
	color: var(--bs-gray) !important;
}

input::placeholder {
	color: var(--bs-cs-secondary) !important;
	opacity: 0.5 !important;
}

/*
	Bootstrap colour overrides for light modes
*/

.nav-link {
	color: var(--bs-cs-secondary);
	transition: 0.25s color ease;
}

.navbar-brand {
	font-family: 'KronaOne';
	text-transform: uppercase;
	color: var(--bs-cs-secondary);
	transition: 0.25s color ease;
	position: relative;
	z-index: 100;
}

.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
	color: var(--bs-cs-secondary-hover);
}

.btn-outline-cream {
	color: var(--bs-cs-secondary);
	background-color: var(--bs-cs-primary);
	border-color: var(--bs-cs-secondary);
	transition: color  0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

.btn-outline-cream:hover,
.btn-outline-cream:active,
.btn-outline-cream:focus {
	color: var(--bs-cs-secondary) !important;
	background-color: var(--bs-cs-primary-hover) !important;
	border-color: var(--bs-cs-secondary-hover) !important;
}

.btn-outline-cream-fill {
	color: var(--bs-cs-primary);
	background-color: var(--bs-cs-secondary);
	border-color: var(--bs-cs-primary);
	transition: color  0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

.btn-outline-cream-fill:hover,
.btn-outline-cream-fill:active,
.btn-outline-cream-fill:focus {
	color: var(--bs-cs-primary);
	background-color: var(--bs-cs-secondary-hover) !important;
	border-color: var(--bs-cs-primary) !important;
}

.link-cream {
	color: var(--bs-cs-secondary) !important;
	text-decoration-color: var(--bs-cs-secondary-hover) !important;
	
}

.link-cream:hover {
	color: var(--bs-cs-secondary) !important;
	text-decoration-color: var(--bs-cs-secondary) !important;
}

.navbar li a {
	color: var(--bs-cs-secondary);
}

.navbar li a:hover,
.navbar li a:active,
.navbar li a:focus {
	color: var(--bs-cs-secondary-hover);
}

.navbar-nav .nav-link.show {
	color: var(--bs-cs-secondary-hover);
}

.dropdown-menu {
	--bs-dropdown-border-color: var(--bs-cs-secondary-hover);
	--bs-body-color: var(--bs-cs-secondary);
	--bs-dropdown-link-hover-color: var(--bs-cs-primary);
	--bs-dropdown-link-active-color: var(--bs-cs-primary);
	--bs-dropdown-link-hover-bg: var(--bs-cs-primary-subtle);
	--bs-dropdown-link-active-bg: var(--bs-cs-primary-subtle);
	padding: 0;
}

/*
	======================
*/

body {
	font-family: 'Roboto', Arial, sans-serif;
	transition: all 0.25s ease-out;
}

.form-select{
	color: var(--bs-cs-secondary);
}

div, p, button, span, option{
	color: var(--bs-cs-secondary);
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	color: var(--bs-cs-secondary);
}

.navbar-brand a {
	text-decoration: none;
	color: inherit;
}

/*
	Header and navigation
*/
.topnav {
	min-height: 64px;
	padding: 16px;
}

.topnav a {
	color: var(--bs-cs-secondary);
}

.topnav__links {
	margin: 0;
	padding: 0;
}

.topnav__links > li{
	list-style-type: none;
}

.topnav__item {
	list-style-type: none;
}

.topnav__menu {
	transition: background-color 0.15s ease;
}

.topnav button {
	background: none;
	border: none;
	padding: 0;
}

.topnav__burger {
	display: none;
}

.bar {
	width: 40px;
	height: 2px;
	border-radius: 100px;
	background-color: var(--bs-cs-secondary);
	transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out, background-color 0.15s ease-out;
}

.bar-close-1 {
	transform: translateY(10px) rotate(45deg);
}

.bar-close-2 {
	opacity: 0;
}

.bar-close-3 {
	transform: translateY(-10px) rotate(-45deg);
}

.topnav__burger:hover {
	.bar {
		background-color: var(--bs-cs-secondary-hover);
	}
}
/*
	======================
*/


.form-control {
	background: none;
}

.form-control:disabled {
	background-color: var(--bs-cs-primary-hover);
}

.container-home {
	margin-top: 100px;
}

.login-form {
	padding: 20px;
	border-radius: var(--bs-border-radius);
	margin: 0 auto;
}

.dropdown-item {
	padding-top: 5px;
	padding-bottom: 5px;
}

.dropdown-menu li:hover:first-child a {
	border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
}

.dropdown-menu li:hover:last-child a {
	border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
}

button .cs-svg {
	fill: var(--bs-cs-secondary);
	/*transition: 0.25s fill ease;*/
}
/* 
button:hover .cs-svg,
button:active .cs-svg,
button:focus .cs-svg {
	fill: var(--bs-cs-secondary-hover);
} */

#paddle-animation {
	height: 200px;
	z-index: -1;
}

.btn-general {
	height: 48px;
}

.btn-home {
	width: 300px;
}

/* .profile-link {
	width: 40px;
	height: 40px;
	border: 1px solid var(--bs-cs-secondary);
	border-radius: 100%;
	background-image: url('/src/assets/profile_chicken.jpg');
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
} */

#profile-pic {
	position: relative;
	width: 200px;
	height: 200px;
	border: 1px solid var(--bs-cs-secondary);
	border-radius: 100%;
	background-image: url('/src/assets/profile_chicken.jpg');
	background-size: cover;
	background-position: center; 
	background-repeat: no-repeat; 
	transition: 0.25s background-size ease;
}

#profile-pic:hover {
	cursor: pointer;
	.edit-profile-pic span{
		background-color: var(--bs-cs-primary-hover);
	}
	.edit-profile-pic span i{
		color: var(--bs-cs-secondary-hover);
		transform: scale(1.05);
	}
}



.edit-profile-pic{
	position: absolute;
	top: 70%;
	left: 80%;
}

.edit-profile-pic span{
	border-radius: var(--bs-border-radius);
	padding: 10px;
	background-color: var(--bs-cs-primary);
	border: 1px solid var(--bs-cs-secondary);
	transition: 0.25s background-color  ease;
}

.edit-profile-pic span i {
	color: var(--bs-cs-secondary);
	transition: 0.25s transform  ease, 0.25s color  ease;
}

svg.light-mode-switch {
	fill: var(--bs-cs-secondary);
}

svg.light-mode-switch:hover {
	fill: var(--bs-cs-secondary-hover);
	cursor: pointer;
}

.visible_cs {
	visibility: visible;
	opacity: 1;
	max-height: 1000px;
	max-width: 1000px;
}

.invisible_cs {
	visibility: hidden;
	opacity: 0;
	max-height: 0;
	max-width: 0;
}

#logout-btn {
	color: var(--bs-danger);
}

.topnav__menu__expanded {
	display: block;
	position: fixed;
	inset: 0;
	padding: 16px;
	background-color: var(--bs-cs-primary);
}

.topnav__list{
	display: flex;
	justify-content: center;
}

.topnav__links {
	display: inline-flex;
}

.topnav__links li a{
	color: var(--bs-cs-secondary);
}

.topnav__links li a:hover,
.topnav__links li a:active,
.topnav__links li a:focus {
	color: var(--bs-cs-secondary-hover);
}

.justify-self-end {
	justify-content: end;
}

.password-checklist {
	position: absolute;
	top: calc(100% + 10px);
	width: 100%;
	padding: 20px 30px;
	color: var(--bs-cs-primary);
	background: var(--bs-cs-primary-subtle);
	border-radius: var(--bs-border-radius);
	opacity: 0;
	pointer-events: none;
	transform: translateY(20px);
	transition: 0.5s ease;
	z-index: 10;
	filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.2));
}



#input-pass:focus:invalid ~ .password-checklist{
	opacity: 1 !important;
	transform: translateY(0) !important;
}

.checklist-title {
	font-size: 18px;
	color: var(--bs-cs-secondary);
}

.list-item {
	color: var(--bs-danger);
	list-style-type: '\274C';
	white-space:pre;
	transition: color 0.25s ease;
}

.list-item.checked {
	color: var(--bs-success);
	list-style-type: '\2705';
}

.alert-message {
	color: var(--bs-danger);
	margin-top: 5px;
}

.match-card {
	border-radius: var(--bs-border-radius);
	border: 1px solid var(--bs-cs-secondary);
	padding: 8px 12px;
	transition: all 0.25s ease;
}

.match-card-win {
	background-color: var(--green-subtle);
}

.match-card-win:hover {
	background-color: var(--green-subtle-hover);
}

.match-card-defeat {
	background-color: var(--red-subtle);
}

.match-card-defeat:hover {
	background-color: var(--red-subtle-hover);
}

.match-card:hover {
	.match-card-score {
		transform: scale(1.25);
	}
	.match-card-pic {
		transform: scale(1.25);
	}
}


.krona-font {
	font-family: 'KronaOne';
}

/* Use bootstrap class instead */
.match-card-score {
	transition: transform 0.5s ease;
}

.match-card-pic {
	width: 40px;
	height: 40px;
	border: 1px solid var(--bs-cs-secondary);
	border-radius: 100%;
	background-image: url('/src/assets/profile_chicken.jpg');
	background-size: cover;
	background-position: center; 
	background-repeat: no-repeat;
	transition: transform 0.25s ease;
}

.toast {
	box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);
}

.toast-header p {
	margin: 0;
	color: var(--bs-blacky);
	/* background-color: var(--bs-cream); */
}

.toast-warning .toast-header {
		color: var(--bs-danger);
		border-radius: calc(var(--bs-toast-border-radius) - var(--bs-toast-border-width));
}

.toast-successful .toast-header {
		color: var(--bs-success);
		border-radius: calc(var(--bs-toast-border-radius) - var(--bs-toast-border-width));
}

#username-spinner {
	width: 30px;
	height: 30px;
	top: 8px;
	right: 8px;
}

.user-status-pill {
	width: 30px;
	height: 30px;
	background-image: url('/src/assets/profile_chicken.jpg');
	background-size: cover;
	background-position: center; 
	background-repeat: no-repeat; 
}

.delete-friend {
	transition: transform 0.15s ease;
}

.delete-friend:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.friend-request-item {
	min-height: 50px;
	background-color: var(--blue-subtle);
}

.friend-item {
	min-height: 50px;
	transition: transform 0.15s ease, background-color 0.15s ease;
}

.friend-item:hover {
	transform: translateX(5px);
	background-color: var(--red-subtle);
}

.friend-request-item:last-child,
.friend-item:last-child {
	margin-bottom: 0 !important;
}

@media (width < 992px) {
	.topnav__burger {
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin-inline-start: auto;
	}
	.topnav__menu__expanded .topnav__burger {
		margin-block-end: 10rem;
	}
	.topnav__menu__hidden {
		display: none;
	}
	.topnav__links {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media (width < 576px) {
	.btn-home {
		width: 80vw;
	}
	.match-card-pic {
		display: none;
	}
}
